# Java compiled files
*.class
*.war
*.ear

# Maven / Gradle
target/
build/
out/

# Logs
*.log
/var/log/barq/

# IDE specific
*.iml
*.idea/
*.vscode/

# OS files
.DS_Store
Thumbs.db

# Sensitive files
*.pem
*.key

# Temporary files
*.tmp
*.swp
